* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-image: url('wp6244450.jpg');
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffcfed;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="date"] {
    width: 30%;
}

form input[type="text"] {
    width: 60%;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #60e999;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #005011;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

table td button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table td .edit {
    background-color: #d6ee50;
    color: white;
}

table td .delete {
    background-color: #f761ac;
    color: white;
}
